@page
@model IndexModel
@{
  ViewData["Title"] = User.Identity.IsAuthenticated ? "Packages" : "Home page";
}

@if (User.Identity.IsAuthenticated)
{
  <div class="row mb-3">
    <form aria-label="Package search bar" class="col-sm-12" method="get">
      <div class="input-group">
        <input name="prerelease" type="hidden" value="@Model.Search.IncludePrerelease.ToString().ToLower()" />
        <input name="q" type="text" class="form-control" id="search" aria-label="Enter packages to search" placeholder="Search for packages..." value="@Model.Search.Query">
        <span class="input-group-btn">
          <button class="btn btn-default btn-warning btn-search" type="submit" title="Search for packages" aria-label="Search">
            <span class="ms-Icon ms-Icon--Search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
  <section role="main">
    @if(Model.SearchResponse.TotalHits == 1)
    {
      <h1 role="alert">
        There is @Model.SearchResponse.TotalHits.ToString("#,##0") package
      </h1>
    }
    else
    {
      <h1 role="alert">
        There are @Model.SearchResponse.TotalHits.ToString("#,##0") packages
      </h1>
    }
    <div class="row">
      <div class="col-sm-12">
        @if(Model.Search.IncludePrerelease)
        {
          <a href="/?q=@Model.Search.Query&amp;prerelease=false">Hide Prerelease</a>
        }
        else
        {
          <a href="/?q=@Model.Search.Query&amp;prerelease=true">Show Prerelease</a>
        }
      </div>
    </div>
    <div class="list-packages" role="list">
      @foreach(var package in Model.SearchResponse.Data)
      {
        <article class="package" role="listitem">
          <div class="row">
            <div class="col-sm-1 hidden-xs hidden-sm col-package-icon">
              <img class="package-icon img-responsive" aria-hidden="true" alt="" src="@package.IconUrl" onerror="this.src='/img/default-package-icon.svg'; this.onerror = null;">
            </div>
            <div class="col-sm-11">
              <div class="package-header">
                <a class="package-title" href="#" data-track="search-selection" data-track-value="0" data-package-id="@package.PackageId" data-package-version="@package.Version" data-use-version="False">@package.PackageId</a>
                <span class="package-by">
                  by:
                  @foreach(var owner in package.Authors)
                  {
                    <a href="#" title="@owner">@owner</a>
                  }
                </span>
              </div>

              <ul class="package-list">
                <li>
                  <span class="icon-text">
                      <i class="ms-Icon ms-Icon--Download" aria-hidden="true"></i>
                      @package.TotalDownloads.ToString("#,##0") total downloads
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <i class="ms-Icon ms-Icon--History" aria-hidden="true"></i>
                      last updated <span data-datetime="@package.Published.ToString("F")" title="@package.Published.ToString("F")">@package.Published.Humanize()</span>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <i class="ms-Icon ms-Icon--Flag" aria-hidden="true"></i>
                    Latest version: <span class="text-nowrap">@package.Version </span>
                  </span>
                </li>
                <li class="package-tags">
                  <span class="icon-text">
                    <i class="ms-Icon ms-Icon--Tag" aria-hidden="true"></i>
                    @foreach(var tag in @package.Tags)
                    {
                      <a href="/?q=Tags%3A%22@(tag)%22&amp;prerelease=@Model.Search.IncludePrerelease.ToString().ToLower()" title="Search for @tag">@tag</a>
                    }
                  </span>
                </li>
              </ul>

              <div class="package-details">
                @package.Description
              </div>
            </div>
          </div>
        </article>
      }
    </div>
    <div class="row">
      <div class="col-xs-12 clearfix">
        <ul class="pager">
          @if(Model.CurrentPage - 1 >= 0)
          {
            <li class="previous">
              <a href="/?page=@(Model.CurrentPage - 1)&amp;prerelease=@Model.Search.IncludePrerelease.ToString().ToLower()&amp;q=@Model.Search.Query" title="Go to the previous page.">Previous</a>
            </li>
          }
          else
          {
            <li class="previous">
              Previous
            </li>
          }
          @if(Model.HasNext)
          {
            <li class="next">
              <a href="/?page=@(Model.CurrentPage + 1)&amp;prerelease=@Model.Search.IncludePrerelease.ToString().ToLower()&amp;q=@Model.Search.Query" title="Go to the next page.">Next</a>
            </li>
          }
          else
          {
            <li class="next">
              Next
            </li>
          }
        </ul>
      </div>
    </div>
  </section>
}
else
{
  <div class="row">
    <div class="col-12">
      <h1 class=""display-4 text-center">Please login</h1>
    </div>
  </div>
}
